.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  text-align: inherit;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
  h1 {
    background: rgb(198, 255, 221);
    background: radial-gradient(
      circle,
      rgba(198, 255, 221, 1) 0%,
      rgba(255, 224, 155, 1) 53%,
      rgba(255, 200, 202, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    background: radial-gradient(circle, rgba(255, 239, 186, 1) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    background: radial-gradient(
      circle,
      rgba(198, 255, 245, 1) 0%,
      rgba(155, 224, 255, 1) 53%,
      rgba(202, 200, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h4 {
    background: radial-gradient(
      circle,
      rgba(255, 210, 255, 1) 0%,
      rgba(255, 190, 155, 1) 50%,
      rgba(255, 240, 200, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h5 {
    background: radial-gradient(
      circle,
      rgba(210, 255, 198, 1) 0%,
      rgba(180, 255, 155, 1) 50%,
      rgba(225, 200, 155, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > #dayIcon {
    display: none;
  }
  & > #nightIcon {
    display: inline;
  }
}

:root .darkmode {
  & > #dayIcon {
    display: inline;
  }
  & > #nightIcon {
    display: none;
  }
}
